*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
a{
  text-decoration: none;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexColumn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container{
  display: grid;
  grid-template: 100vh / 1fr;
  grid-template-areas: "map";
}
.border{
  border: solid red 1px;
}
.borderB{
  border: solid blue 1px;
}
.map{
  position: relative;
  grid-area: map;
  background: url('../assets/mapa.jpeg') no-repeat;
  background-position-x: 69%;
  background-position-y: 48%;

}
.location{
  position: absolute;
    top: 32%;
    left: 52%;
    font-size: 2em;
    color: #313131;
}
.menu-bar{
  font-size: 1.3em;
  color: #313131;
  border: 3px solid transparent;
  border-radius: 50%;
  padding: .5em;
}

.direction{
  padding: 1em 0;
    width: 100%;
    position: absolute;
    grid-area: direction;
    top: 70%;
    background: rgba(0, 0, 0, 0.9);
    border-radius: 10px 10px 0 0;
}
.pickUpMe{
  color: #fff;
  align-items: flex-start; 
  justify-content: space-between;
  width: 90%;
  text-transform: uppercase;
 
  
}
.pickUpMe h3{
  font-weight: 900;
  margin-bottom: .3em;
}
.input{
  background: #fff;
  padding: 1em;
  border: none;
  outline: none;
  border-radius: 3em;
  margin-bottom: 1em;
  width: 90%;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  
}
.fa-search{
  position: absolute;
  top: 29%;

  right: 8%;
}
.btn{
  background: #2c9fa2;
  padding: 1em 7em;
  border: none;
  outline: none;
  border-radius: 3em;
  margin-bottom: 2em;
  color: #fff;
}