@import "../Vars.scss";
.home {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template: 15% 85% / 1fr;
  grid-template-areas: "header"
                        "hero";
  overflow: hidden;
  &__header {
    grid-area: header;
  }
  &__hero {
    grid-area: hero;
  }
}