

*{
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
}
.home{
  background: linear-gradient(#95dcea, #fff);
  background-size: contain; 

  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
a{
  text-decoration: none;
  color:white;
}
.container{
  position: relative;
  height: 100vh; 
  animation: subirContainer .8s 2.2s ease-out forwards;
}
.border{
  border: red solid 1px;
}
@media only screen and (max-width: 425px){
  .home__barra{
    width: 30em;
    position: absolute;
    left: -1%;
    top: 100%;
    z-index: 2;
    animation: salirBarra .8s forwards;
  }
  .home__ciudad{
    position: absolute;
    opacity: 0;
    bottom: -25%;
    left: 23%;
    width: 77%;
    animation: salirCiudad .9s .5s ease-out forwards;
    
  }
}
.home__hello{
  position: absolute;
  z-index: 3;
  left: 7%;
  top: 20%;
  text-align: center;
  animation: salirHello 1.2s  forwards;
  opacity: 0;
}
.home__hello h1{
  font-size: 3em;
  text-transform: uppercase
}
.home__hello p{
  letter-spacing: .6em;
  font-size: 1em;
  font-weight: bold;
  color: #fff;
  text-shadow: #000 1px 1px 1px;
}
.home__nubes{
  width: 100%;
  height: 50%;
  position: absolute;
}
.nubes__nube{
  width: 5em;
  position: absolute;
  animation: salirNubes 2s;
}
.nubes__nube.uno{
  right: 10%;
  top: 5%;
}
.nubes__nube.dos{
  right: 49%;
    top: 45%;
}
.nubes__nube.tres{
  right: 80%;
  top:10%;
}
.home__carrito{
  position: absolute;
    z-index: 7;
    width: 8em;
    top: 68%;
    left: -30%;
    animation: salirCarrito 1s 1s forwards;
}
.home__arboles{
  position: relative;
  width: 18%;
  height: 20%;
  top: 63%;
  left: 2%;
  opacity: 0;
  overflow: hidden;
  transform-origin: bottom center;
  
  animation: salirArbol 1s .9s forwards;
}
.arboles__arbol{
  position: absolute;
  width: 3em;
}
.arboles__arbol.uno{
  top: 1%;
}
.arboles__arbol.dos{
  left: 2%;
  width: 2.5em;
  top: 7%;
  transform-origin: bottom;
  transform: rotate(27deg);
}

.home__form{
  position: relative;
  z-index: 5;
  width: 80%;
  height: 24%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  top: 37%;
  opacity: 0;
  animation: salirForm 1s 2.2s ease-in-out forwards;
}
.form__btn{
  padding: 1em 3.5em;
  border-radius: 5em;
  

}
.form__btn.signIn{
  background: #72b239;
}
.form__btn.signOut{
  background: #fff;
  color: #000
}
@keyframes salirBarra{
  from{
    top: 100%;
    opacity: 0;
  }
  to{
    top: 65%;
    opacity: 1;
  }
}
@keyframes salirHello{
  from{
    opacity: 0;
  }
  to{
    top: 5%;
    opacity: 1;
  }
}
@keyframes salirCiudad{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
    bottom: 23%;
  }
}
@keyframes SalirNubes{
  from{
    opacity: 0;
    transform: translateX(20px)
  }
  to{
    opacity: 1;
    transform: translateX(0px)
  }
}
@keyframes salirArbol{
  from{
    opacity: 0;
    transform: rotate(96deg);
    
  }
  to{
    opacity: 1;
    transform:   rotate(0deg)
  }
}

@keyframes salirCarrito{
  from{
    left: -30%;
  }
  to{
    left: 2%;
  }
}
@keyframes subirContainer{
  from{
    top: 0;
  }
  to{
    top: -15%;
  }
}
@keyframes salirForm{
  from{
    top: 80%;
    opacity: 0;
  }
  to{
    top: 63%;
    opacity: 1;
  }
}