@import "../Vars.scss";

.header{
  @include font-size(25px);
  @include positionZ(relative, 10);
  top: 50%;
  &__logo {
    @include flexColumn();
    p {
      color: #fff;
      text-shadow: #2a2a2a 1px 1px 1px;
      font-weight: bold;
    }
  }
}