@import "../Vars.scss";
@import "../breakpoints";

.hero{
  
  grid-area: main;
  display: grid ;
  grid-template: 1fr/ 70% 30%;
  width: 100%;
  height: 100%;
  padding: 1em;
  position: relative;
 
  &__ciudad {
    width: 100%;
    top: -50%;
    @include positionZ(absolute, 1)
  }
  &__carro {
    width: 22%;
    left: 1%;
    @include positionZ(relative, 3);
  }
 
  &__slogan {
    @include flex();
    align-items: flex-end;
    padding-bottom: 1em;
    justify-content: center;
    color: $light-color;
    
    @include positionZ(relative, 3);
    @include font-size(35px);
    overflow: hidden;
    h2 {
      padding-left: 1em;
      font-size: 1em;
    }
  }
  &__form {
    @include positionZ(relative, 4);
  }
};


