@import "../Vars.scss";

*{
  font-family: $theme-font;
  margin: 0;
  padding: 0;
}
.home{
  background: linear-gradient($main-color, #fff);
  background-size: contain; 

  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template: 15vh 85vh / 1fr;
  grid-template-areas: "logo"
                       "loger";

}
a{
  text-decoration: none;
  color:white;
}
.container{
  grid-area: loger;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.loger{
  position: relative;
    top: 56%;
    width: 100%;
    padding: 1.5em;
    height: 40%;
    animation: salirLoger 3s forwards
}
.border{
  border: red solid 1px;
}
@media only screen and (max-width: 425px){
  .home__barra{
    width: 30em;
    position: absolute;
    left: -5%;
    top: 61%;
    z-index: 2;
  }
  .home__ciudad{
    position: absolute;
    /* opacity: 0; */
    bottom: -25%;
    top: 85%;
    left: 23%;
    width: 77%;
    animation: salirCiudad 3s forwards;
    
  }
}
.hide{
  display: none
}
.home__hello{
  grid-area: logo;
    /* position: absolute; */
    z-index: 3;
    left: 7%;
    top: 20%;
    text-align: center;
    animation: salirHello 1.2s forwards;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home__hello--logo{
  display: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
    top: 261%;
    animation: salirLogo 3s forwards;
}
.home__hello h1{
  font-size: 3em;
  text-transform: uppercase
}
.home__hello p{
  margin-left: .2em;
  letter-spacing: .6em;
  font-size: 1em;
  font-weight: bold;
  color: #fff;
  text-shadow: #000 1px 1px 1px;
}
.home__nubes{
  width: 100%;
  height: 50%;
  position: absolute;
}
.nubes__nube{
  width: 5em;
  position: absolute;
  animation: salirNubes 2s;
}
.nubes__nube.uno{
  right: 10%;
  top: 5%;
}
.nubes__nube.dos{
  right: 49%;
    top: 45%;
}
.nubes__nube.tres{
  right: 80%;
  top:10%;
}
.home__carrito{
  position: absolute;
    z-index: 7;
    width: 9em;
    top: 81%;
    left: -40%;
    animation: salidaCarrito 1s 1s  forwards;
}
.home__arboles{
  position: absolute;
  display: flex;
  top: 71%;
  left: 1%;
  transform-origin: bottom;
  opacity: 0;
    transform: rotate(96deg);
  animation: salirArbol 1.5s .9s forwards;
}
.arboles__arbol{
  width: 2em;
  
}
.arboles__arbol.uno{
  top: 1%;
}
.arboles__arbol.dos{
  position: relative;
    left: -49%;
    top: 30%;
    transform-origin: bottom;
    transform: rotateZ(16deg);
}

.home__form{
  position: relative;
    z-index: 5;
    width: 80%;
    height: 24%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    opacity: 0;
    top: -48%;
    animation: salirForm 1.5s 1.2s ease-out forwards;
}
.form__btn{
  padding: 1em 3.5em;
  border-radius: 5em;
  width: 4em;
  text-align: center;
  

}
.form__btn.signIn{
  background: #72b239;
    margin-bottom: 1em;
}
.form__btn.signOut{
  background: #fff;
  color: #000
}

/* KEYFRAMES */


@keyframes salirLoger{
  0%{
    top: 56%;
  }
  20%{
    top: -15%;
  }
  65%{
    top: -15%;
  }
  100%{
    top: -45%;
  }
}
@keyframes salirLogo{
  0%{
    top: 261%;
    opacity: .9;
  }
  20%{
    opacity: 1;
  }
  65%{
    top: 261%;
    opacity: 1;
  }
  100%{
    top: 0
  }
}


@keyframes salirBarra{
  0%{
    opacity: 0;
  }
  50%{
    top: 11%;
    opacity: 1;
  }
  100%{

  }
}
@keyframes salirHello{
  from{
    opacity: 0;
  }
  to{
    top: 5%;
    opacity: 1;
  }
}
@keyframes salirCiudad{
  0%{
    top: 85%;
  }
  35%{
    top: 85%;
  }
  50%{
    top: -27%;
  }
  59%{
    top: -23%;
  }
  100%{
    top: -23%;
  }
}
@keyframes SalirNubes{
  from{
    opacity: 0;
    transform: translateX(20px)
  }
  to{
    opacity: 1;
    transform: translateX(0px)
  }
}
@keyframes salirArbol{
  from{
    opacity: 0;
    transform: rotate(96deg);
    
  }
  to{
    opacity: 1;
    transform:   rotate(0deg)
  }
}
@keyframes salidaCarrito{
  0%{
    left:-40%;
  }
  100%{
    left: 2%
  }
}
@keyframes subirContainer{
  from{
    top: 0;
  }
  to{
    top: -15%;
  }
}
@keyframes salirForm{
  0%{
    top: 258%;
    opacity: 0;
  }
  50%{
    top: 258%;
    opacity: 0;
  }
  100%{
    top: 155%;
    opacity: 1;
  }
}