@import "../Vars.scss";
.layout {
  display:grid;
  grid-template: 10vh 85vh 5vh / 1fr;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(#a8d2f2, #fff);
  &__hero {
    @include positionZ(relative, 2)
  }
  &__footer {
    @include positionZ(relative, 7)
  }
}

