a{
  text-decoration: none;
  color: #000;
}
.fab{
  font-size: 1.2em;
}
.input{
  background: #e7eaf1;
  padding: 1em;
  border: none;
  outline: none;
  border-radius: 3em;
  margin-bottom: 1em;
}
.btn{
  background: #30407b;
  padding: 1em 3em;
  border: none;
  outline: none;
  border-radius: 3em;
  margin-bottom: 2em;
  color: #fff;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexColumn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container{
  display: grid;
  grid-template: 20vh 50vh 30vh / 1fr;
  grid-template-areas: "logo"
                        "form"
                        "redes";
}
.logo{
  grid-area: logo;
}
.form{
  grid-area: form;
  flex-direction: column;
}
.redes{
  grid-area: redes;
}
.facebook{
  color: #3c5999;
}
.facebook span{
  color: #000;
}
.google{
  width: 2em;
}
.google span{
  color: #000;
}
.redes__container{
  width: 50%;
  justify-content: space-around;
  margin-bottom: 2em;
}
.signUp{
  margin-left: 1em;
  color: #30407b;
  font-weight: bold;
}
.border{
  border: solid red 1px;
}
.borderB{
  border: solid blue 1px;
}