@import "../Vars.scss";

.pickup {
  width: 100%;
  height: inherit;
  background: rgba(248, 248, 248, 0.705);
  @include flexColumn;
  input {
    @include input();
  }
  .btn {
    @include button();
  }
}
.suggestion {
  background: #fafafa;
  border-bottom:#95dcea solid 2px ;
  padding: .3em;
}
.suggestion:hover {
  background: #95dcea;
}
.userLocation {
  color: #313131c9;
}
.userLocationActive {
  color: red;
}