@import "../Vars.scss";

.services {
  @include flexColumn();
  &__locations {
    transform: scale(.9);
    @include flexColumn();
    height: auto;
    input {
      @include input();
    }
    .estimatedTime {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      i {
        color: $second-color;
        font-size: 1.3em;
        margin-right: .3em;
      }
      span {
        font-weight: bold;
      }
    }
  }
  &__type {
    @include flex();
    justify-content: space-evenly;
    height: auto;
    margin-bottom: 1em;
    

  }
  &__payMethod {
    @include flex();
    width: 70%;
    justify-content: space-between;
    height: auto;
    margin-bottom: 1em;
    :nth-child(1) {
      @include flex();
      width: auto;
      height: auto;
      i {
        color: #95a71a;
      }
    }
    i {
      font-size: 1.5em;
      margin-right: .3em;
    }
  }
  .btn {
    @include button();
  }
}