@import "./breakpoints";
@import "./Vars.scss";

@include media( mobile-only) {
  .home {
    overflow: visible;
  }
  .hero {
    display: grid;
    grid-template: auto auto/ 1fr;

    justify-content: space-between;
    &__slogan {
      @include positionZ(relative, 3);
      top: 0;
      right: 0;
      height: auto;
      justify-content: center;
      font-size: 1em;
    }
    &__barra {
      top: 10%;
    }
    &__carro {
      top: 20%;
    }
    &__arboles {
      top: 13%;
      .arbol {
        width: 2em;
      }
      
    }
    &__form {
      top: 32%;
      overflow: visible ;
    }
    
  }
  .login {
    overflow: visible;
    &__form {
      height: auto;
    }
  }
}